# ==========================================
# PROJECT DATA
# ==========================================
# Ignore all Excel and genomic data spreadsheets
*.xlsx
*.xls
*.tsv
*.csv
data_sources_original/
under_datasets
over_datasets
normal_oversets

# Ignore Windows system files
desktop.ini

# ==========================================
# PYTHON & ENVIRONMENT STUFF
# ==========================================
# Ignore the Python virtual environment
.venv/
env/
venv/
ENV/
__pycache__/
*.pyc

# Visual Studio Code template files
.vscode/
tempCodeRunnerFile.py